<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <% include ../../components/header.ejs %>
</head>

<body id="body" class="body-wrapper boxed-menu">
  <div class="main-wrapper">
    <% include ../../components/preloader.ejs %>
    <% include ../../components/navbar.ejs %>
    <!-- BLOG DETAILS -->
    <section class="clearfix blogDetials" style="padding-top:30px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <!-- <div class="thumbnail blogContent"> -->
            <div class="caption">
              <!-- <h4>Nov 22, 2016 by <a href="#">Admin</a></h4> -->
              <div class="container">
                <div style="margin-right:400px">
                  <h2>
                    <%= video.title %>
                  </h2>
                </div>
                <!-- <iframe id="ytplayer" width="65%" height="400px" src="https://www.youtube-nocookie.com/embed/<%= video.youtube_id %>?autoplay=1&enablejsapi"
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                  <div class="module module-home-video">
                      <div id="video"></div>
                  </div>
              </div>
              <br>
              <div class="container" style="width:100%; padding-top: 0px">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab"
                      aria-controls="description" aria-selected="true">Descrizione</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="artists-tab" data-toggle="tab" href="#artists" role="tab" aria-controls="artists"
                      aria-selected="false">Artisti</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="channel-tab" data-toggle="tab" href="#channel" role="tab" aria-controls="channel"
                      aria-selected="false">Canale</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                      aria-selected="false">Ulteriori Informazioni</a>
                  </li>
                </ul>
                <br>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <%= video.description %>
                  </div>
                  <div class="tab-pane fade" id="artists" role="tabpanel" aria-labelledby="artists-tab">
                    <% video.Artists.forEach(function(artist) { %>
                    <div> Artista: <b>
                        <%= artist.name %></b></div>
                    <% }); %>
                  </div>
                  <div class="tab-pane fade" id="channel" role="tabpanel" aria-labelledby="channel-tab">
                    <div> Canale: <b>
                        <%= video.Channel.name %></b></div>
                  </div>
                  <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <%= video.description %>
                  </div>
                </div>
                <br>
                <br>
                <!-- <p><a href="/videos/<%= video.id %>/create">Crea Video sul db</a></p> -->
                <h3>Video Consigliati</h3>
                <h6>Seleziona un algoritmo per scoprire i migliori video da noi trovati.</h6>
                <br>
                <ul class="nav nav-tabs" id="myTab2" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" id="vitali-tab" data-toggle="tab" href="#vitali" role="tab" aria-controls="vitali"
                      aria-selected="true">Vitali</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="random-tab" data-toggle="tab" href="#random" role="tab" aria-controls="random"
                      aria-selected="false">Random</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="channel-tab" data-toggle="tab" href="#channel" role="tab" aria-controls="channel"
                      aria-selected="false">Canale</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                      aria-selected="false">Ulteriori Informazioni</a>
                  </li>
                </ul>
                <br>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade" id="vitali" role="tabpanel" aria-labelledby="vitali-tab">
                    <% recommenderVitali.forEach(function(vitaliVideoObject) { %>
                      <%if (vitaliVideoObject!=null) { %>
                    <div>
                      <div class="row">
                        <div class="col-sm-4 col-xs-12">
                          <div class="categoryImage">
                            <a href="/videos/<%= vitaliVideoObject[0].id %>">
                              <img src="<%= vitaliVideoObject[0].snippet.thumbnails.medium.url %>" alt="Image category" class="img-responsive img-rounded">
                            </a>
                          </div>
                        </div>
                        <div class="col-sm-8 col-xs-12">
                          <div class="categoryDetails" style="padding-top: 12.5px">
                            <h4>
                              <a href="/videos/<%= vitaliVideoObject[0].id %>" style="color: #222222; font-weight:600">
                                <%= vitaliVideoObject[0].snippet.title %>
                              </a>
                              <span aria-hidden="true"></i></span>
                            </h4>
                            <p>
                              youtube channel: <span class="placeName"><%= vitaliVideoObject[0].snippet.channelTitle %> </span>
                              <br>
                              Reccomended by Random Algorithm
                            </p>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <% } %>
                    <% }); %>
                  </div>
                  <div class="tab-pane fade" id="random" role="tabpanel" aria-labelledby="random-tab">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <!-- <div class="sidebarInner" style="margin:25px auto;">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon2">
              <a href="#" class="input-group-addon" id="basic-addon2"><i class="icon-listy icon-search-2"></i></a>
            </div>
          </div> -->
            <div class="sidebarInner" style="margin:75px auto;">
              <div class="panel panel-default">
                <div class="panel-heading">Visual</div>
                <div class="panel-body">
                  <ul class="list-unstyle categoryList">
                    <li><a href="#">Local Views <span class="pull-right">
                          <%= video.views %></span></a></li>
                    <li><a href="#">Global Views <span class="pull-right">
                          <%= video.views %></span></a></li>
                    <li><a href="#">Yuoutube Views <span class="pull-right">
                          <%= video.views %></span></a></li>
                    <li><a href="#">Restaurent <span class="pull-right">
                          <%= video.views %></span></a></li>
                    <li><a href="#">Business <span class="pull-right">
                          <%= video.views %></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% include ../../components/footer.ejs %>
  </div>
  <% include ../../components/footer-import.ejs %>
</body>

<script>
  <%if(currentUser) { %>
  function addViewToThisVideo() {
    $.ajax({
      type: "GET",
      url: "/videos/<%= video.youtube_id %>/viewed/<%= currentUser.id %>",
      cache: false,
      success: function (html) {
        console.log("views aggiunta");
      }
    });
  }
  setTimeout(addViewToThisVideo, 10000);
  <% }; %>
</script>

<script>
  var player, playing = false;

  function onYouTubeIframeAPIReady() {
    player = new YT.Player('video', {
      height: '360',
      width: '640',
      videoId: '<%= video.youtube_id %>',
      events: {
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerStateChange(event) {
    // alert('hi');
    console.log("qualcosa è successo");
    if (!playing) {
      // alert('hi');
      console.log("video partito");
      playing = true;
    }
  }
</script>

</html>