<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <% include ../../components/header.ejs %>
</head>

<body id="body" class="body-wrapper boxed-menu">
  <div class="main-wrapper">
    <% include ../../components/preloader.ejs %>
    <% include ../../components/navbar.ejs %>
    <!-- BLOG DETAILS -->
    <section class="clearfix blogDetials" style="padding-top:30px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <!-- <div class="thumbnail blogContent"> -->
              <div class="caption">
                <!-- <h4>Nov 22, 2016 by <a href="#">Admin</a></h4> -->
                <div class="container">
                  <h2> <%= video.snippet.title %></h2>
                  <!-- <iframe id="ytplayer" type="text/html" width="340" height="260" src="http://www.youtube.com/embed/<%= video.id %>?autoplay=0" frameborder="0" /> -->
                  <iframe id="ytplayer" width="65%" height="400px" src="https://www.youtube-nocookie.com/embed/<%= video.id %>?"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <br>
                <div class="container" style="width:100%;">
                  <p>
                    <%= video.snippet.description %>
                  </p>
                  <p>
                    <a href="/videos/create/<%= video.snippet.title %>">Crea Video sul db</a>
                  </p>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-random-tab" data-toggle="pill" href="#pills-random" role="tab" aria-controls="pills-random" aria-selected="true">Random</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-fvitali-tab" data-toggle="pill" href="#pills-fvitali" role="tab" aria-controls="pills-fvitali" aria-selected="false">Fvitali</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-search-tab" data-toggle="pill" href="#pills-search" role="tab" aria-controls="pills-search" aria-selected="false">Search</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-fvitali-tab" data-toggle="pill" href="#pills-fvitali" role="tab" aria-controls="pills-fvitali" aria-selected="false">Fvitali</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-fvitali-tab" data-toggle="pill" href="#pills-fvitali" role="tab" aria-controls="pills-fvitali" aria-selected="false">Fvitali</a>
                      </li>                      <li class="nav-item">
                        <a class="nav-link" id="pills-fvitali-tab" data-toggle="pill" href="#pills-fvitali" role="tab" aria-controls="pills-fvitali" aria-selected="false">Fvitali</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-random" role="tabpanel" aria-labelledby="pills-random-tab">
                        <div class="listContent">
                          <div class="row">
                            <div class="col-sm-4 col-xs-12">
                              <div class="categoryImage">
                                <a href="/video/<%= video.id.videoId %>" >
                                  <img src="<%= video.snippet.thumbnails.medium.url %>" alt="Image category" class="img-responsive img-rounded">
                                </a>
                              </div>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                              <div class="categoryDetails">
                                <h2>
                                  <a href="/video/<%= video.id.videoId %>" style="color: #222222">
                                    <%= video.snippet.title %>
                                  </a> 
                                  <span class="likeCount"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; 10k</span>
                                </h2>
                                <p>	youtube channel: <span class="placeName"> <%= video.snippet.channelTitle %> </span></p>
                                <!-- <p>
                                  <%= video.snippet.description %>
                                </p> -->
                                  <p>Reccomended by Random Algorithm</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="pills-fvitali" role="tabpanel" aria-labelledby="pills-fvitali-tab">...</div>
                      <div class="tab-pane fade" id="pills-search" role="tabpanel" aria-labelledby="pills-search-tab">...</div>
                    </div>
                </div>
              </div>
            <!-- </div> -->
            <!-- <div class="commentArea">
              <h3>Leave A Comment</h3>
              <form action="#" class="deafultForm">
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="messageBox" class="control-label">Message</label>
                    <textarea class="form-control" rows="3"></textarea>
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="userName" class="control-label">Name</label>
                    <input type="text" class="form-control" id="userName">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="userEmail" class="control-label">Email</label>
                    <input type="email" class="form-control" id="userEmail">
                  </div>
                  <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-primary">Get Started</button>
                  </div>
                </div>
              </form>
            </div> -->
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="sidebarInner" style="margin:25px auto;">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon2">
                <a href="#" class="input-group-addon" id="basic-addon2"><i class="icon-listy icon-search-2"></i></a>
              </div>
            </div>
            <div class="sidebarInner">
              <div class="panel panel-default">
                <div class="panel-heading">Visual</div>
                <div class="panel-body">
                  <ul class="list-unstyle categoryList">
                    <li><a href="#">Local Views <span class="pull-right"><%= video.statistics.viewCount %></span></a></li>
                    <li><a href="#">Global Views <span class="pull-right"><%= video.statistics.viewCount %></span></a></li>
                    <li><a href="#">Yuoutube Views <span class="pull-right"><%= video.statistics.viewCount %></span></a></li>
                    <li><a href="#">Restaurent <span class="pull-right"><%= video.statistics.viewCount %></span></a></li>
                    <li><a href="#">Business <span class="pull-right"><%= video.statistics.viewCount %></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="sidebarInner">
              <div class="panel panel-default">
                <div class="panel-heading">Recent Posts</div>
                <div class="panel-body">
                  <ul class="list-unstyle categoryList">
                    <li><a href="#">Curabitur scelerisque lacus sit amet.</a></li>
                    <li><a href="#">Morbi pretium ipsum ac massa sollicitu.</a></li>
                    <li><a href="#">Etiam eget augue et lorem sagittis.</a></li>
                    <li><a href="#">Sed mollis tincidunt massa vel egestas.</a></li>
                    <li><a href="#">Aliquam semper dolor nec metus alique.</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="sidebarInner">
              <div class="panel panel-default">
                <div class="panel-heading">Archives</div>
                <div class="panel-body">
                  <ul class="list-unstyle categoryList">
                    <li><a href="#">Jan 2016</a></li>
                    <li><a href="#">Feb 2016</a></li>
                    <li><a href="#">Mar 2016</a></li>
                    <li><a href="#">April 2016</a></li>
                    <li><a href="#">May 2016</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- JAVASCRIPTS -->
    <% include ../../components/footer-import.ejs %>
  </div>
  <% include ../../components/footer-import.ejs %>
</body>

</html>